<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
			<h2>
				Welcome to CatHub!<br>
				<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Internet_Defense_League_logo_-_cat_face.svg/499px-Internet_Defense_League_logo_-_cat_face.svg.png"> <br>
				A place where cat lovers can meet! Post about your cat and chat about your cat while making some friends. <br>
				
				</h2>
			</p>
		</div>
		<div class="users">
	View the most recent users to post!:<br>
		<span data-ng-bind="authentication.user.displayName"> </span> 
		</a>
		
	</div>
	
	</div>

	</div>

</section>