<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<p class="lead">
			<h2>
				Welcome to TheHub!<br>
				<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Internet_Defense_League_logo_-_cat_face.svg/499px-Internet_Defense_League_logo_-_cat_face.svg.png"> <br>
				Please sign in or sign up to unlock some hidden features!
				
				</h2>
			</p>
		</div>
		<div class="row">
			<p>
				<button type="button" ui-route="/signup" ng-class="{active: $uiRoute}">Sign Up</button>
				<button type="button" ui-route="/signin" ng-class="{active: $uiRoute}" href="/#!/signin">Sign In</button>
			</li>
		</ul>
			</p>
		</div>
	</div>

	</div>

</section>