<section data-ng-controller="ArticlesController" data-ng-init="find()">


	<div class="page-header">
		<h2>Welcome, 
		
		<span data-ng-bind="authentication.user.displayName"> </span>
		</h2>
		
        <div class="col-md-6">
        <br><br>
			 <h1>
		<strong> Name: </strong> <span data-ng-bind="authentication.user.firstName"></span> <span data-ng-bind="authentication.user.lastName"></span><br> <br>
		<strong>Gender: </strong> <span data-ng-bind="authentication.user.gender"></span><br> <br>
		<strong> Email: </strong> <span data-ng-bind="authentication.user.email"></span><br> <br>
		<strong> Hometown: </strong> <span data-ng-bind="authentication.user.hometown"></span>
			  <div class="list-group">
        <a data-ng-repeat="cat in cats" data-ng-href="#!/cats/{{cat._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Adopted by
				<span data-ng-bind="cat.user.displayName"></span>
				on
                <span data-ng-bind="cat.date | date:'medium'"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cat.name"></h4>
        </a>
    </div>
            <a href="#!/cats/create">Add Cat</a> 
		</div>
			
	
	<div class="col-md-6">
	<h2>Create a post!</h2>
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Post Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Post Content</label>
					<div class="controls">
						<textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
	
	</div>

	<br>
	<div class="feed">
				<center><h1>Your Feed</h1></center>
	</div>
	
	<div class="list-group">
			<a data-ng-repeat="article in articles" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
		No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
	</div>
</section>