<section data-ng-controller="ProfilepicturesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="profilepicture.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == profilepicture.user._id))">
		<a class="btn btn-primary" href="/#!/profilepictures/{{profilepicture._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="profilepicture.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="profilepicture.user.displayName"></span>
		</em>
        
        
        
	</small>
    <div class="page-body">
			<image ng-src="{{profilepicture.image}}"/>
		</div>
        
        
</section>
